@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39; /* slate-900 */
  --bg: #ffffff;
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg);
}
